last 5 Chrome major versions or last 5 Firefox major versions or last 5 Edge major versions or Safari >=16 or last 5 Android versions or last 5 ChromeAndroid major versions or last 5 FirefoxAndroid versions or iOS >= 16 or Firefox ESR
