name: CI for Python

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  code_format:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/actions/setup-python-poetry
        with:
          python-version: 3.11.4
          poetry-version: 1.5.1
          path: kos-loader

      - name: Black
        working-directory: kos-loader
        shell: bash
        run: poetry run black --check ./kos_loader

      - name: isort
        working-directory: kos-loader
        shell: bash
        run: poetry run isort --check ./kos_loader

  type_check:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/actions/setup
        with:
          python-version: 3.11.4
          poetry-version: 1.5.1

      - name: Mypy - type checking
        working-directory: kos-loader
        shell: bash
        run: poetry run mypy ./kos_loader

  lint:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Setup
        uses: ./.github/actions/setup
        with:
          python-version: 3.11.4
          poetry-version: 1.5.1

      - name: PyLint - linter
        working-directory: kos-loader
        shell: bash
        run: poetry run pylint ./kos_loader
