name: Deploy to Github Pages

on:
  push:
    branches:
      - main

jobs:
  deployment:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: true

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
          cache: 'yarn'
          cache-dependency-path: ctu-timetable-generator/yarn.lock

      - name: Install packages
        working-directory: ctu-timetable-generator
        run: |
          yarn install --pure-lockfile

      - name: Lint
        working-directory: ctu-timetable-generator
        run: |
          yarn run lint

      - name: Build
        working-directory: ctu-timetable-generator
        run: |
          yarn run build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./ctu-timetable-generator/out